.wrapper {
  display: flex;
  height: 100vh;
}

.header {
  height: 32px;
  padding-left: 80px;
  border-bottom: 1px solid var(--ui1);
}

.sidebar {
  background: var(--bg2);
  border-right: 1px solid var(--ui1);
  width: 220px;
}

.content {
  flex: 1;
}

.sidebarHeader {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
}

.sidebarNav {
  padding: 0.5rem 0.5rem;
}

.sidebarLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--nav-item-color);
}

.sidebarLink:hover,
.sidebarLinkActive {
  background: var(--nav-item-background-hover);
  color: var(--nav-item-color-hover);
}

.contentHeader {
  padding: 0.25rem 0.5rem;
  min-height: 36px;
  max-height: 36px;
  border-bottom: 1px solid var(--ui1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
